@font-face {
  font-family: 'CeraRoundPro-Bold';
  src: url('../fonts/CeraRoundPro-Bold.eot');
  src: url('../fonts/CeraRoundPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CeraRoundPro-Bold.svg#CeraRoundProDEMO-Bold') format('svg'),
  url('../fonts/CeraRoundPro-Bold.ttf') format('truetype'),
  url('../fonts/CeraRoundPro-Bold.woff') format('woff'),
  url('../fonts/CeraRoundPro-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CeraRoundPro-Medium';
  src: url('../fonts/CeraRoundPro-Medium.eot');
  src: url('../fonts/CeraRoundPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CeraRoundPro-Medium.svg#CeraRoundProDEMO-Medium') format('svg'),
  url('../fonts/CeraRoundPro-Medium.ttf') format('truetype'),
  url('../fonts/CeraRoundPro-Medium.woff') format('woff'),
  url('../fonts/CeraRoundPro-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CeraRoundPro-Regular';
  src: url('../fonts/CeraRoundPro-Regular.eot');
  src: url('../fonts/CeraRoundPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CeraRoundPro-Regular.svg#CeraRoundPro-Regular') format('svg'),
  url('../fonts/CeraRoundPro-Regular.ttf') format('truetype'),
  url('../fonts/CeraRoundPro-Regular.woff') format('woff'),
  url('../fonts/CeraRoundPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


